services:
  vector_store:
    image: pgvector/pgvector:pg17
    container_name: pgvector_store
    ports:
      - '5432:5432'
    restart: always
    environment:
      - 'POSTGRES_DB=ragdb'
      - 'POSTGRES_USER=raguser'
      - 'POSTGRES_PASSWORD=ragpassword'